.App {
  text-align: center;
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #8e54e9,
    #4776e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #8e54e9,
    #4776e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Header {
  font-size: 2vw;
}
.Header > h1 {
  margin: 0;
}

.ListHeader {
  background-color: red;
  font-size: 1.5vw;
  margin-left: 30vw;
  margin-right: 30vw;
}
.ListHeader2 {
  background-color: violet;
  font-size: 1.5vw;
  margin-left: 30vw;
  margin-right: 30vw;
  color: white;
}

.LockForm {
  font-size: 1.5vw;
  background-color: green;
}
.UnblockImpossible {
  background-color: hotpink;
  font-size: 1.2vw;
}

.SubdomainTitle {
  background-color: salmon;
  color: black;
  font-size: 1.1vw;
  margin-left: 18vw;
  margin-right: 18vw;
}

.Subdomain {
  background-color: skyblue;
  color: black;
  font-size: 0.9vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.BlockButton {
  background-color: red;
  font-size: 0.8vw;
}

.BlockSelect {
  background-color: hotpink;
  font-size: 0.8vw;
}

.Details {
  background-color: yellow;
  font-size: 0.6vw;
}

.Addresses {
  text-align: center;
  margin-top: 100px;
  padding-top: 100px;
}

.Address {
  color: black;
  font-weight: bold;
  background-color: #dcdcdc;
  width: 60vw;
  display: inline-block;
}

.addresses {
  display: inline;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p  {
  background-color: black;
}
