span.filter {
  display: flex;
  width: 120px;
  border-radius: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 10px;
  background-color: #673ab7;
}


.filter-icon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-icon >.icon {
    justify-self: flex-start;
}

.filter-icon > p {
  font-family: 'Chakra Petch';
   margin: 0 10px;
}