.blocked {
  color: red;
}

/* Style the links inside the sidenav */
#mySidepanel {
  top: 20px;
  background-color: #d1c4e9;
  width: fit-content;
  z-index: 100;
  padding: 4px 5px 5px 50px;
  opacity: 0.9;
  position: absolute; /* Position them relative to the browser window */
  right: -65px; /* Position them outside of the screen */
  transition: 0.2s; /* Add transition on hover */
  width: fit-content; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 5px 0 0 5px; /* Rounded corners on the top right and bottom right side */
}

#mySidepanel:hover {
  right: 0; /* On mouse-over, make the elements appear as they should */
}
